.h-jumbotron{
    font-size: 2.5vw;
    padding-top: 10%;
}

.lead{
    font-size: 2vw;
}

.heading{
    text-decoration: underline;
    text-align: center;
    font-family: Avanta Garde;
}

.about p{
    font-size: 12px;
}


@media (max-width: 900px) {
    .h-jumbotron{
        font-size: 4vw;
    }
    .lead{
        font-size: 3vw;
    }
}

@media (max-width: 1300px) {
    .h-jumbotron{
        font-size: 3vw;
    }
    .lead{
        font-size: 3vw;
    }
}

@media (max-width: 720px) {
    .h-jumbotron{
        font-size: 5vw;
    }
    .lead{
        font-size: 3vw;
    }
}

@media (max-width: 500px) {
    .h-jumbotron{
        font-size: 7vw;
        padding-top: 25%;
    }
    .lead{
        font-size: 4vw;
    }
}

@media (max-width: 420px) {
    .h-jumbotron{
        font-size: 7vw;
        padding-top: 45%;
    }
    .lead{
        font-size: 4vw;
    }
}

@media (max-width: 320px) {
    .navbar-brand{
        font-size: 15px;
    }
    .h-jumbotron{
        font-size: 6vw;
        padding-top: 5%;
    }
    .lead{
        font-size: 4vw;
    }
}

@media (max-width: 360px) {
    .h-jumbotron{
        font-size: 7vw;
        margin-top: 10%;
    }
    .lead{
        font-size: 4vw;
    }
}